.nui-wrapper {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

pre {
  counter-reset:line-numbering;
  padding:12px 0px 14px 0;
  color:#ecf0f1;
  line-height:140%;
}
